[run]
 
[report]
omit = venv/*
        */asyncio/*
        */concurrent/*
        */click/*
        */colorama/*
        */jinja2/*
        */markupsafe/*
        */werkzeug/*
        */flask/*
        */ctypes/*
        */itsdangerous.py 
        */html/*
        */cryptography/*
        */jwt/*
        */psycopg2/*
        */multiprocessing/*
        */decimal.py
        */uuid.py
        */numbers.py
        */encodings/*
        */hmac.py
        */http/cookiejar.py       
        */mimetypes.py                      
        */stringprep.py
        */six.py
        */typing.py
        */api/__init__.py 
        */db.py
        */utils.py
        */urllib3/*
        */yaml/*
        */requests/*
        */jsonschema/*
        */idna/*
        */flasgger/*
        */chardet/*
        */http/*
        */cgi.py
        */_bootlocale.py
        */certifi/*
        */mistune.py


[html]
directory = coverage_html