.vscode/*
! .vscode/setting.json

/venv/*

.coverage
!.coveragerc
!.idea/MyDiary.iml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/workspace.xml
/api/test/.pytest_cache/*
api/__pycache__/
api/__pycache__/entries.cpython-36.pyc
__pycache__/
__pycache__/.pytest_cache/v/
.pytest_cache/v/cache/