.vscode/*
! .vscode/setting.json

/venv/*

!.coveragerc
!.coveragerc
!.idea/MyDiary.iml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/workspace.xml
/api/test/.pytest_cache/*
api/__pycache__/__init__.cpython-36.pyc
api/__pycache__/entries.cpython-36.pyc
__pycache__
